h1
{
    color: red;
    font-size: 30px;
}
p:hover{
    background-color: green;
}

.stangout
{
    color: coral;
}


.image1{
    border-radius: 50%;
}
.image2{
    border-radius: 30px;
}

.image3{
    opacity: 0.8;
}

.image4{
    filter: grayscale(70%);
}

image5{
    filter:blur(5px);
}